body {
    margin: 0;
    padding: 0;
}
.contenitore-immagini {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}

.contenitore-immagini h2{
    margin-top: 0;
}

.contenitore-immagini img{
    width: 70vw;
    height: 30vw;
    object-fit: cover;
    margin-bottom: 20px;    
    display: flex;
    margin: 0;
}

#next {
    display: block;
    margin: 0 auto;
}

.card
{
    margin: auto;
}

h1{
    margin-top: 50px;
    text-align: center;
}