h1
{
    text-align: center;
}

.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bgImage-container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(87, 87, 87, 0.7);
    padding: 40px 0;
    font-size: 36px;
    text-align: center;
}

.bgImg {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    filter: blur(4px);
}

.card
{
    box-shadow: 10px 10px 5px #aaaaaa;
    border: 1px solid gray;
    margin: 10px;
    width: 500px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between;
    padding-bottom: 20px; 
    box-sizing: border-box;
}

.card > img
{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card > ul
{
    list-style-type: disc;
    text-align: left; 
    width: 80%; 
    margin: 0 auto;
    padding-left: 20px;
}


.card > p
{
    padding: 10px 20px;
    text-overflow: ellipsis;
}

.bookButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
  }
  
  .bookButton:hover {
    background-color: #3e8e41;
  }