.restaurant-card
{
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 30px;
    padding: 20px 40px;
    color: #fff;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.restaurant-informations
{
    padding: 0 30px;
}

#restaurant-image
{
    width: 60vw;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px;
}

.input-form
{
    width: 700px;
    padding: 30px 50px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-form > input
{
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

.input-form > input[type="submit"]
{
    background-color: rgb(196, 196, 12);
    color: white;
    border: none;
    font-size: 16px;
}

#stars
{
    height: 20px;
    width: 100px;
    background-image: url("../assets/star.svg");
    background-size: 20px;
}