/* Tabella di conferma dati */
table, th, tr, td
{
    padding: 5px 10px;
    border-collapse: collapse;
}

table
{
    width: 100%;
}

th
{
    text-align: left;
    width: 200px;
}

/* Coloro righe in maniera pari, prendo le righe dispari*/
tr:nth-child(odd) {
    background-color: #ead42b;
}