*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container > input
{
    padding: 5px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.container > input[type="submit"]
{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.container
{
    width: 50%;
    height: 50%;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}